html,
body {
	background-color: black;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

header {
	height: fit-content;
	max-height: 50vh;
	width: 90vw;
	margin: auto;
}

.container {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}

.logo {
	display: block;
	height: fit-content;
	min-width: 100px;
	max-width: 250px;
}

img {
	height: auto;
	width: 100%;
}

#chat {
	display: inline-block;
	max-width: 40%;
	min-width: 20%;
	width: 20%;
	background-color: darkgrey;
}

#chat p {
	display: block;
	width: 75%;
	padding: 0.25rem;
	border-radius: 0.5rem;
}

p.received {
	text-align: left;
	margin-left: 4pt;
	background-color: darkcyan;
}

p.sent {
	text-align: right;
	word-wrap: normal;
	height: fit-content;
	margin-left: auto;
	margin-right: 4pt;
	background-color: chocolate;
}


/* Remote Controller session */
#session,
#session * {
	padding: 0px;
	margin: 0px;
	height: fit-content;
	width: fit-content;
	vertical-align: middle;
	align-items: center;
}

#session section {
	display: inline-flex;
}

#session {
	position: absolute;
	top: 0vh;
	right: 0vw;
	padding: 0.25rem;
	width: fit-content;
	background: #e65c00;
	z-index: 2;
}

#scanview {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 200px;
	margin: auto;
}

#sessionCode {
	font-size: 20px;
	margin: auto;
}

#session section #hostRoomCode {
	display: block;
}

#room_qrcode {
	width: 2in;
	height: 2in;
}

/* RemoteController */
#remoteController {
	margin: auto;
	display: inline-flex;
	flex-wrap: wrap;
	z-index: 1;
}


#remoteController .controllerBlock {
	background-color: #171717;
	display: grid;
	position: relative;
	align-items: center;
	justify-items: center;
}

@media screen and (orientation: portrait) {
	#remoteController {
		min-width: 100px;
		min-height: 200px;
	}

	@media screen and (max-aspect-ratio: 1/2) {
		#remoteController {
			width: 100vw;
			height: 200vw;
		}
	}

	@media screen and (min-aspect-ratio: 1/2) {
		#remoteController {
			width: 50vh;
			height: 100vh;
		}
	}

	#remoteController .controllerBlock {
		width: 100%;
		height: 50%;
	}
}

@media screen and (orientation: landscape) {
	#remoteController {
		min-width: 200px;
		min-height: 100px;
	}

	@media screen and (max-aspect-ratio: 2) {
		#remoteController {
			width: 100vw;
			height: 50vw;
		}
	}

	@media screen and (min-aspect-ratio: 2) {
		#remoteController {
			width: 200vh;
			height: 100vh;
		}
	}

	#remoteController .controllerBlock {
		width: 50%;
		height: 100%;
	}
}

#remoteController .controllerBlock button {
	height: 25%;
	aspect-ratio: 1;
	position: absolute;
}

#remoteController #navBtn_up {
	top: 0px;
}

#remoteController #navBtn_down {
	bottom: 0px;
}

#remoteController #navBtn_left {
	left: 0px;
}

#remoteController #navBtn_right {
	right: 0px;
}

#remoteController #navBtn_enter {}

#remoteController #navBtn_back {
	left: 0px;
}

#remoteController #navBtn_more {
	right: 0px;
}